apiVersion: apps/v1
kind: Deployment
metadata:
  name: auth-server
spec:
  replicas: 1
  selector:
    matchLabels:
      app: auth-server
  template:
    metadata:
      labels:
        app: auth-server
    spec:
      containers:
      - name: auth-server
        image: jaewoozzang/auth_server:v0.7
        ports:
        - containerPort: 5001
        envFrom:
        - configMapRef:
            name: db-config
        - secretRef:
            name: db-credentials
      resources:
        limits:
          memory: "256Mi"
          cpu: "200m"
        requests:
          memory: "128Mi"
          cpu: "100m"
---
apiVersion: v1
kind: Service
metadata:
  name: auth-server
spec:
  ports:
  - port: 5001
    targetPort: 5001
  selector:
    app: auth-server
