apiVersion: apps/v1
kind: Deployment
metadata:
  name: gateway
spec:
  replicas: 1
  selector:
    matchLabels:
      app: gateway
  template:
    metadata:
      labels:
        app: gateway
    spec:
      serviceAccountName: gateway-sa
      containers:
      - name: gateway
        image: hyunhojang/gateway:v2.02
        ports:
        - containerPort: 5000
        resources:
          limits:
            memory: "512Mi"
            cpu: "200m"
          requests:
            memory: "128Mi"
            cpu: "100m"
---
apiVersion: v1
kind: Service
metadata:
  name: gateway
  labels:
    app: fastapi-app
spec:
  ports:
    - name: http
      port: 5000
  selector:
    app: gateway