apiVersion: apps/v1
kind: Deployment
metadata:
  name: gateway
spec:
  replicas: 1
  selector:
    matchLabels:
      app: gateway
  template:
    metadata:
      labels:
        app: gateway
    spec:
      containers:
      - name: gateway
        image: hyunhojang/gateway:v2.0
        ports:
        - containerPort: 5000
      resources:
        limits:
          memory: "256Mi"
          cpu: "200m"
        requests:
          memory: "128Mi"
          cpu: "100m"
---
apiVersion: v1
kind: Service
metadata:
  name: gateway
spec:
  ports:
    - port: 5000
  selector:
    app: gateway