apiVersion: v1
kind: ConfigMap
metadata:
  name: nginx-config
data:
  default.conf: |
    server {
        listen 80;
        
        # 1. 프론트엔드 정적 파일
        location / {
            root /var/www/frontend; # 공식 이미지 기본 경로
            index index.html;
            try_files $uri $uri/ /index.html;
        }

        # 2. 이미지 전용 통로
        location /static/uploads/ {
            proxy_pass http://photo-service:5003;
            proxy_set_header Host $host;
        }

        # 3. API 통로
        location /api/ {
            proxy_pass http://gateway:5000;
            proxy_set_header Host $host;
        }
    }
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: nginx
spec:
  replicas: 1
  selector:
    matchLabels:
      app: nginx
  template:
    metadata:
      labels:
        app: nginx
    spec:
      serviceAccountName: nginx-sa
      containers:
      - name: nginx
        image: jaewoozzang/frontend:v1.0
        imagePullPolicy: Always
        resources:
          limits:
            memory: "512Mi"
            cpu: "200m"
          requests:
            memory: "128Mi"
            cpu: "100m"
---
apiVersion: v1
kind: Service
metadata:
  name: nginx
spec:
  type: NodePort
  ports:
  - name: http
    port: 80
    targetPort: 80
    nodePort: 30080
  selector:
    app: nginx